# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project specific
audio/
vector_db/
uploads/
tmp/
tts_out/
*.pdf
*.docx
*.doc

# OS
.DS_Store
Thumbs.db
books/